<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>A11y Guide</ion-list-header>
          <ion-note>Chiara Mistrorigo</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of accessibilityCases; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" ios="paper-plane-outline'" md="paper-plane-sharp"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <div class="divider"></div>

          <ion-menu-toggle auto-hide="false">
            <div class="mode-toggle">
              <ion-label>
                Toggle Dark Theme
              </ion-label>
              <ion-toggle (ionChange)="onChangeMode($event)"></ion-toggle>
            </div>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
